<!DOCTYPE html>
<body>
    Generating locations, please wait. This page will automatically reload when locations' generation completed.
</body>

<script>
    document.addEventListener('DOMContentLoaded',()=>
    {
        setInterval(async()=>
        {
            try
            {
                const resp=await fetch(window.location.pathname+'/status');
                const data=await resp.json();
                if(data.status!="generating") window.location.reload();
            }
            catch(error){}
        },1000);
    });
</script>